# SQL Entity Relationship

### Datatypes

        BLOB            Binary Large OBject
        INTEGER         signed integer, stored in 0, 1, 2, 3, 4, or 6 bytes depending on the magnitude of the value
        REAL            floating point, stored as 8-byte IEEE floating point number
        TEXT            text string, stored using the database encoding (UTF-8, UTF-16BE or UTF-16LE)
        NULL            NULL

        NUMERIC         numeric representation of some value, e.g., 2022-11-11 (date)

### Constraints

        NOT NULL        a column cannot be NULL
        UNIQUE          no duplicates in the same column

### Relationships

        PRIMARY KEY
        FOREIGN KEY

`data/shows.db`:

![imdb_diagram.png](../assets/images/imdb_diagram.png)

## Nested Queries

demo:

All shows Steve Carell is in

    sqlite> SELECT title FROM shows WHERE id IN (SELECT show_id FROM stars WHERE person_id = (SELECT id FROM people WHERE name = 'Steve Carell'));
    +------------------------------------+
    |               title                |
    +------------------------------------+
    | The Dana Carvey Show               |
    | Over the Top                       |
    | Watching Ellie                     |
    | Come to Papa                       |
    | The Office                         |
    | Entertainers with Byron Allen      |
    | The Naked Trucker and T-Bones Show |
    | ES.TV HD                           |
    | Mark at the Movies                 |
    | Inside Comedy                      |
    | Rove LA                            |
    | Metacafe Unfiltered                |
    | Fabrice Fabrice Interviews         |
    | Riot                               |
    | Séries express                     |
    | Hollywood Sessions                 |
    | First Impressions with Dana Carvey |
    | LA Times: The Envelope             |
    | Space Force                        |
    | Some Good News                     |
    +------------------------------------+
    sqlite>

## Join -- `JOIN`

demo:

    sqlite> SELECT * FROM shows LIMIT 10;
    +-------+-----------------------------+------+----------+
    |  id   |            title            | year | episodes |
    +-------+-----------------------------+------+----------+
    | 62614 | Zeg 'ns Aaa                 | 1981 | 227      |
    | 63881 | Catweazle                   | 1970 | 26       |
    | 63962 | UFO                         | 1970 | 26       |
    | 65269 | Ace of Wands                | 1970 | 46       |
    | 65270 | The Adventures of Don Quick | 1970 | 6        |
    | 65271 | Albert and Victoria         | 1970 | 12       |
    | 65272 | All My Children             | 1970 | 4337     |
    | 65273 | Archie's Funhouse           | 1970 | 23       |
    | 65274 | Arnie                       | 1970 | 48       |
    | 65276 | Barefoot in the Park        | 1970 | 12       |
    +-------+-----------------------------+------+----------+
    sqlite> SELECT * FROM genres LIMIT 10;
    +---------+-----------+
    | show_id |   genre   |
    +---------+-----------+
    | 62614   | Comedy    |
    | 63881   | Adventure |
    | 63881   | Comedy    |
    | 63881   | Family    |
    | 63962   | Action    |
    | 63962   | Sci-Fi    |
    | 65269   | Family    |
    | 65269   | Fantasy   |
    | 65270   | Comedy    |
    | 65270   | Sci-Fi    |
    +---------+-----------+
    sqlite> SELECT * FROM shows JOIN genres ON shows.id = genres.show_id LIMIT 10;
    +-------+-----------------------------+------+----------+---------+-----------+
    |  id   |            title            | year | episodes | show_id |   genre   |
    +-------+-----------------------------+------+----------+---------+-----------+
    | 62614 | Zeg 'ns Aaa                 | 1981 | 227      | 62614   | Comedy    |
    | 63881 | Catweazle                   | 1970 | 26       | 63881   | Adventure |
    | 63881 | Catweazle                   | 1970 | 26       | 63881   | Comedy    |
    | 63881 | Catweazle                   | 1970 | 26       | 63881   | Family    |
    | 63962 | UFO                         | 1970 | 26       | 63962   | Action    |
    | 63962 | UFO                         | 1970 | 26       | 63962   | Sci-Fi    |
    | 65269 | Ace of Wands                | 1970 | 46       | 65269   | Family    |
    | 65269 | Ace of Wands                | 1970 | 46       | 65269   | Fantasy   |
    | 65270 | The Adventures of Don Quick | 1970 | 6        | 65270   | Comedy    |
    | 65270 | The Adventures of Don Quick | 1970 | 6        | 65270   | Sci-Fi    |
    +-------+-----------------------------+------+----------+---------+-----------+
    sqlite> 

### Explicit Join

    sqlite> SELECT title FROM people
    ...> JOIN stars ON people.id = stars.person_id
    ...> JOIN shows ON stars.show_id = shows.id
    ...> WHERE name = 'Steve Carell';
    +------------------------------------+
    |               title                |
    +------------------------------------+
    | The Dana Carvey Show               |
    | Over the Top                       |
    | Watching Ellie                     |
    | Come to Papa                       |
    | The Office                         |
    | Entertainers with Byron Allen      |
    | The Naked Trucker and T-Bones Show |
    | Some Good News                     |
    | ES.TV HD                           |
    | Mark at the Movies                 |
    | Inside Comedy                      |
    | Rove LA                            |
    | Metacafe Unfiltered                |
    | Fabrice Fabrice Interviews         |
    | Riot                               |
    | Séries express                     |
    | Hollywood Sessions                 |
    | First Impressions with Dana Carvey |
    | LA Times: The Envelope             |
    | Space Force                        |
    +------------------------------------+
    sqlite> 

### Implicit Join

    sqlite> SELECT title FROM people, stars, shows
    ...> WHERE people.id = stars.person_id
    ...> AND stars.show_id = shows.id
    ...> AND name = 'Steve Carell';
    +------------------------------------+
    |               title                |
    +------------------------------------+
    | The Dana Carvey Show               |
    | Over the Top                       |
    | Watching Ellie                     |
    | Come to Papa                       |
    | The Office                         |
    | Entertainers with Byron Allen      |
    | The Naked Trucker and T-Bones Show |
    | Some Good News                     |
    | ES.TV HD                           |
    | Mark at the Movies                 |
    | Inside Comedy                      |
    | Rove LA                            |
    | Metacafe Unfiltered                |
    | Fabrice Fabrice Interviews         |
    | Riot                               |
    | Séries express                     |
    | Hollywood Sessions                 |
    | First Impressions with Dana Carvey |
    | LA Times: The Envelope             |
    | Space Force                        |
    +------------------------------------+
    sqlite>